

{% load static %}
<!DOCTYPE html>
<html>
<script src="{% static 'test.js' %}"></script>
<body>

<button onclick="myFunction()">Click me!</button>

<button id="lightOn" onclick="changeImageOn()">
    Turn on
  </button>
  
  <button id="lightOff" onclick="changeImageOff()">
      Turn Off
  </button>

  <img src="https://media.istockphoto.com/id/185206958/photo/light-bulb.jpg?s=612x612&w=0&k=20&c=uff31Cf5Qy0Rss2OBw7aOysvoDEVKJVk53PrLfzGpBI=https://media.istockphoto.com/id/185206958/photo/light-bulb.jpg?s=612x612&w=0&k=20&c=uff31Cf5Qy0Rss2OBw7aOysvoDEVKJVk53PrLfzGpBI=" id="img1">

  {% if employee_list %}
  <ul>
  {% for question in employee_list %}
     <li><a href="/employee/{{ question.id}}/">{{ question.name}}</a></li>
  {% endfor %}
  </ul>
{% else %}
   <p>No employees are available.</p>
{% endif %}

</body>
 </html>

 