body{
    background-color: rgb(226, 222, 222);
}

.container{
    display:flex;  
    justify-content: center;
    margin-top: 110px;
}

td,th{
   font-size: 25px; 
   padding: 10px;
   border-radius: 5px;
   text-align: center;

}
td{
    width:100px;
   
}

tr:hover{
    background-color: rgb(210, 93, 93);
    color:white;
}

h1{
    margin-left: 610px;
    margin-top: 30px;
}